@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1717333090992') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e623";
}

.icon-more:before {
  content: "\e609";
}

.icon-tree:before {
  content: "\e6b1";
}

