#app {
    /*这里只需要设置高度100%就行，宽度不知道为啥自适应了*/
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.01);
    background: #303335;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
    --wails-draggable:drag;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: transparent;
    border-radius: .5rem;
}
html {
    height: 100%;
    overflow: hidden;
}
