#app {
    /*这里只需要设置高度100%就行，宽度不知道为啥自适应了*/
    width: 100vw;
    height: 100vh;
    /*box-shadow: 0 0 20px rgba(184, 184, 184, 0.01);*/
    background: #303335;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    border-color: rgba(95, 95, 99, 0.49);
    border-width: thin;
    border-style: solid;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background: transparent;
    overflow: hidden;
}
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
